$colors: (
"realBlack": #000,
"black": #333,
"lightBlack": #444,
"darkBlack": #666,
"white": #fff,
"lightGray": #ccc,
"orange": #ff5722,
"blue": #2196F3,
"green": #4caf50,
"red": #f44336,
);
@function getColor($key) {
  @return map.get($colors, $key);
}
$colors: map.set($colors, "background-color", getColor("black"));
$rootVars: map.set($rootVars, 'color', $colors);