@mixin marginUtility($breakpoint: null) {
$measureUnit: "px";
$utilityRules: convertSpaceList($spacing, $measureUnit);
@include createUtility('margin', 'm', $utilityRules, $breakpoint);
}
$utilities: map.set($utilities, 'margin', marginUtility());